
.action-btn {
  height: 80px;
  width: 250px;
  
  margin: auto;
  border: none;
  border-radius: 40px;
  
  background: linear-gradient(to left, rgb(0, 100, 250), rgb(160, 0, 250));
  
  p {
    font: 900 30px Arial;
    color: black !important;
  }
}

