
:root {
  --toggle-size: 45px;
  --medium-icon: 24px;
  --large-icon: 30px;
}

[data-theme="dark"] {
  --primary-bg: #101010;
  --secondary-bg: #303030;
  --primary-text-color: #c5c5c5;
  --secondary-text-color: #a0a0a0;
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

#app {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-bg);
}

.panel-container {
  height: 100%;
  width: 100%;
  display: flex;
}

i, p {
  color: var(--primary-text-color);
}

.app-panel {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel-bar {
  position: relative;
  
  height: fit-content;
  width: 100%;
  
  padding: 10px 15px;
  border: none;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &::after {
    content: '';
    position: absolute;
    inset: auto 0 0;
    margin: 0 auto;
    width: 90%;
    height: 1px;
    background: var(--secondary-text-color);
  }
}

.panel-name-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.panel-name {
  font: 700 30px Arial;
}

.utility-div {
  display: flex;
  gap: 10px;
}

.content-div {
  flex-grow: 1;
  min-height: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.toggle-btn {
  height: var(--toggle-size);
  width: var(--toggle-size);
  
  border: none;
  border-radius: 50%;
  
  display: grid;
  place-items: center;
  
  background-color: var(--secondary-bg);
  
  i { font-size: var(--medium-icon); }
}
